/*CARD*/



.full_size{
	width:100%;
	height: 100%;
}
details summary{
	cursor: pointer;
}

p{
	margin-top: 0;
	margin-bottom: 1vh;
}

/*
h1{position: relative;
	font-size: 10vh;
	top: 50%;
	transform: translateY(-50%);
	font-family: Impact;

}*/

.modal-header{
	height: 5vh;
	max-width: 500px;
	width: 80%;
}
.modal-box{
	text-align: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.3);
}

p, h3{
  font-family: "Lucida Console", Monaco, monospace;

}

h1{
	font-family: Impact;
	font-size: 7vh;
	margin-bottom: 1vh;
}

.center{
	margin-left: auto;
	margin-right: auto;
}
.taskcard{
	margin-left: auto;
	margin-right: auto;
	background: rgba(255, 255, 255, 0.23);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	max-width: 500px;
	width: 80%;
	margin-top: 5vh;
}

.success{
	background-color: green;
}
.pending{
	background-color: yellow;
}

.status_btn, .btn-delete{
	display: flex;
	align-items: center;
	color: white;
	width: 80%;
	height: 80%;
	border-radius: 10%;
	border: 3px solid black;
	box-shadow: 5px 5px black;

}

header{
	margin: 0;
	height: 10vh;
	width: 100vw;
	/*
	background-color: rgb(251, 217, 96);
	*/
}

#content-box{
	height: 70vh;
}

footer{
	height: 10vh;
}

/* TITLE  */
.taskcard h3{
	font-size: 3vh;
	margin-bottom: 3%;
}

/*TEXT*/
.taskcard p {
	font-size: 2vh;
	margin-bottom: 3vh;

}

/* CARD - DELETE BUTTON */
.taskcard input{
	width: 30%;
	margin-bottom: 3vh;
	margin-top: 1vh;
}

/* SUMMARY AND DETAILS */

details {
  margin: 1rem auto;
  padding: 0 1rem;
  width: 35em;
  max-width: calc(100% - 2rem);
  position: relative;
  border: 3px solid rgba(76, 75, 99);
  border-radius: 6px;
  background-color: #ECEFF1;
  color: #263238;
  transition: background-color .15s;
  box-shadow: 7px 7px 10px rgba(0,0,0,0.1);
}

summary {
  display: block;
  position: relative;
  font-size: 1.33em;
  cursor: pointer;
  -webkit-appearance:none;
}



#modalBox{
	border: none;
	text-align: center;
	color: white;
}

#modalBox input{
	width: 50%;
	padding: 2%;
	margin: 5%;
	background-color: rgba(255,255,255,0);
	border: none;
	border-bottom: 2px solid rgb(180, 160, 229);

}

input[type="button"]{
	padding: 1%;
	margin-top: 3vh;
	margin-bottom: 3vh;
	border-radius: 3vh;
}

#modalBox input[type="button"]{
	background-color: rgb(180, 160, 229) !important;
	color: white;
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.taskcard input {
	padding: 3%;
	background-color: rgb(244, 91, 105) !important;
	color: white;
}

#taskform{
	background-color: white;
	border-radius: 25px;
	width: 80%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}